h1 {
  background-color: rgb(133, 221, 192);
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
  margin-bottom: 5%;
  }

p{
    font-size:20px;
}
.text{
    font-weight: 900;
    font-family: sans-serif;
    font-size: 30px;
}
.mk{
    font-size: 20px;
    color: mediumpurple;
}
h2 {
    font-family: sans-serif;
    font-size: 30px;
    color: black;
  background-color: rgb(132, 196, 185);
}
html{
  background-color: rgb(165, 165, 165);
}
div{
  background-color: white;
}
strong{
  font-weight: 800;
  font-family: sans-serif;
}
mark{
  background-color: rgb(255, 253, 163);

}
.head{
  font-family: 'Courier New', Courier, monospace;
  display: inline;
  position: relative;
  top:-25px;
  left: -15px;
font-weight: 700;
  font-size: 30px;
  color:rgb(255, 255, 255);
  margin: 0%;
  text-decoration: underline  rgb(165,165, 165);
}
.km{
  color:rgb(87, 128, 216);
  font-weight: 800;
}
